<div fxLayout="row" fxLayoutGap="5px" fxLayout.md="column" fxLayout.xs="column">
  <button mat-raised-button color="primary" (click)="success()">Success</button>
  <button mat-raised-button color="primary" (click)="warning()">Warning</button>
  <button mat-raised-button color="primary" (click)="info()">Info</button>
  <button mat-raised-button color="primary" (click)="error()">Error</button>
  <button mat-raised-button color="primary" (click)="buttons()">Custom Buttons</button>
  <button mat-raised-button color="primary" (click)="closeAll()"><mat-icon>close</mat-icon> Close All</button>
</div>
