<div class="fs-row.gap-xs.wrap">
  <button mat-raised-button color="primary" (click)="success()">Toast Success</button>
  <button mat-raised-button color="primary" (click)="warning()">Toast Warning</button>
  <button mat-raised-button color="primary" (click)="info()">Toast Info</button>
  <button mat-raised-button color="primary" (click)="error()">Toast Error</button>
  <button mat-raised-button color="primary" (click)="progress()">Progress Bar</button>
  <button mat-raised-button color="primary" (click)="icon()">Custom Icon</button>
  <button mat-raised-button color="primary" (click)="closeAll()"><mat-icon>close</mat-icon> Close All</button>
</div>
