<fs-examples
  title="Message"
  [githubUrl]="environment.githubUrl"
  [npmUrl]="environment.npmUrl">

    <fs-example title="Dialog Example" componentName="modal-example">
        <modal-example></modal-example>
    </fs-example>
    <fs-example title="Toast Example" componentName="toast-example">
        <toast-example></toast-example>
    </fs-example>
  <fs-example title="Banner Example" componentName="banner-example">
      <banner-example></banner-example>
  </fs-example>
  <fs-example title="Banner Inline Example" componentName="banner-inline-example">
      <banner-inline-example></banner-inline-example>
  </fs-example>

</fs-examples>
