<h1>FsMessage Examples</h1>
<div class="example">
    <fs-example title="Banner Example" componentName="banner-example">
        <banner-example></banner-example>
    </fs-example>
</div>
<div class="example">
    <fs-example title="Banner Inline Example" componentName="banner-inline-example">
        <banner-inline-example></banner-inline-example>
    </fs-example>
</div>
<div class="example">
    <fs-example title="Modal Example" componentName="modal-example">
        <modal-example></modal-example>
    </fs-example>
</div>
<div class="example">
    <fs-example title="Toast Example" componentName="toast-example">
        <toast-example></toast-example>
    </fs-example>
</div>
