#toast-container .mat-toast-content {
  display: flex;
  align-items: center;
}

#toast-container .mat-icon {
  vertical-align: middle;
  margin: 0 10px 0 0;
  color: #fff;
}


#toast-container .toast {
  padding: 15px 15px 15px 25px;
  background-color: #030303;
  pointer-events: auto;
}

#toast-container .toast.toast-info {
  background-image: none !important;
  background-color: #29B7FF;
}

#toast-container .toast.toast-error {
  background-image: none !important;
  background-color: #FA7567;
}

#toast-container .toast.toast-success {
  background-image: none !important;
  background-color: #34BD43;
}

#toast-container .toast.toast-warning {
  background-image: none !important;
  background-color: #F2C91B;
}

.fs-message-banner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  max-width: 100%;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.fs-message-banner * {
  color: #fff;
}

.fs-message-banner mat-icon {
  margin-right: 10px;
}

.fs-message-banner:nth-child(1n+2) {
    margin-top: 5px;
}

.fs-message-banner.fs-message-success {
    background-color: #34BD43;
}

.fs-message-banner.fs-message-error {
    background-color: #FA7567;
}

.fs-message-banner.fs-message-info {
    background-color: #29B7FF;
}

.fs-message-banner.fs-message-warning {
    background-color: #F2C91B;
}

fs-message-dialog > div {
  min-width: 240px;
}

fs-message-dialog mat-icon {
  margin-right: 10px;
}

fs-message-dialog .fs-message-success .mat-icon {
  color: #34BD43;
}

fs-message-dialog .fs-message-error .mat-icon {
  color: #FA7567;
}

fs-message-dialog .fs-message-info .mat-icon {
  color: #29B7FF;
}

fs-message-dialog .fs-message-warning .mat-icon {
  color: #F2C91B;
}
